@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@font-face {
  font-family: 'london';
  src: url('fontes/OldLondon.ttf' ) format('truetype'), url('fontes/Olondona.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(to top, #E3C75F, #CC8D1A, #164C45, #16232E);
}

main{
  border-radius: 10px;
  text-align: center;
  background-color:#BDA523;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  font-family: "Honk", system-ui;
  font-size: 3em;
}

p {
  font-family: "Honk", system-ui;
  font-size: 40px;
}