@font-face {
  font-family: android;
  src: url(fontes/idroid.otf);
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #c5ebd6;
}


h1 {
  font-family: android;
}

h2{
  font-family: android;
}